{% extends 'index.html' %}


{% block page-container %}
    <div class="container">

      <form class="form-signin" action="{% url 'login' %}" method="post">
          {% csrf_token %}
        <h2 class="form-signin-heading">用户登录</h2>
        <label for="inputEmail" class="sr-only">用户名</label>
        <input type="text" id="" name="username" class="form-control" placeholder="用户名" required="" autofocus="">
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="密码" required="">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> 记住我
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
          {% if err_msg %}
            <p style="color: red">{{ err_msg }}</p>
          {% endif %}

      </form>

    </div>


{% endblock %}